In [1]:
import os
import sys
import pandas as pd
import numpy as np

In [2]:
pwd

'/Users/yoonju/Desktop/(Basic) Data Analysis/0. Practice/0-3. gangseo-gu contest/single person household/스케일링 & 매트릭스'

In [3]:
df = pd.read_excel('강서구_power bi.xlsx')
df

,행정동,1인가구,전체20~34,전체35~65,전체65세이상,남성20~34,남성35~65,남성65세이상,여성20~34,여성35~65,...,투룸.쓰리룸(보증금),투룸.쓰리룸(월세),오피스텔/도시형생활주택(보증금),오피스텔/도시형생활주택(월세),아파트(보증금),아파트(월세),원룸(전세),투룸.쓰리룸(전세),오피스텔/도시형생활주택(전세),아파트(전세)
0,염창동,2987,1504,1103,380,608,544,83,896,559,...,3000,72,4000,70,29800,115,11000,28700,28200,66545
1,등촌1동,5988,3498,1910,580,1304,997,155,2194,913,...,1000,103,2000,108,32772,82,11800,20470,26800,48848
2,등촌2동,2144,845,937,362,405,465,88,440,472,...,1000,103,2000,108,32772,82,11800,20470,26800,48848
3,등촌3동,5323,778,2396,2149,394,1194,694,384,1202,...,1000,103,2000,108,32772,82,11800,20470,26800,48848
4,화곡1동,10208,4544,4338,1326,2170,2387,400,2374,1951,...,5000,48,5000,48,32300,90,12600,19300,19100,48194
5,화곡2동,2316,636,1191,489,361,633,150,275,558,...,5000,48,5000,48,32300,90,12600,19300,19100,48194
6,화곡3동,2271,731,1039,501,326,566,140,405,473,...,5000,48,5000,48,32300,90,12600,19300,19100,48194
7,화곡4동,2964,753,1587,624,377,815,181,376,772,...,5000,48,5000,48,32300,90,12600,19300,19100,48194
8,화곡본동,5623,2380,2504,739,1155,1357,208,1225,1147,...,5000,48,5000,48,32300,90,12600,19300,19100,48194
9,화곡6동,4159,1851,1727,581,777,970,175,1074,757,...,5000,48,5000,48,32300,90,12600,19300,19100,48194
10,화곡8동,3339,1129,1579,631,574,836,169,555,743,...,5000,48,5000,48,32300,90,12600,19300,19100,48194
11,가양1동,10952,7125,3458,369,2514,1941,104,4611,1517,...,5000,135,2000,69,41690,108,16200,18800,20200,67743
12,가양2동,3618,749,1532,1337,279,785,465,470,747,...,5000,135,2000,69,41690,108,16200,18800,20200,67743
13,가양3동,2919,519,1307,1093,224,649,290,295,658,...,5000,135,2000,69,41690,108,16200,18800,20200,67743
14,발산1동,2135,445,1069,621,214,472,132,231,597,...,0,0,0,0,0,0,0,0,0,0
15,우장산동,2801,950,1265,586,476,611,146,474,654,...,3000,70,0,0,35700,105,12500,19100,31900,50287
16,공항동,4309,1629,2002,678,949,1279,255,680,723,...,200,73,1000,56,3500,90,9600,19700,9700,59500
17,방화1동,3779,1180,1724,875,532,1039,257,648,685,...,2000,95,1300,36,0,0,7100,20000,8950,0
18,방화2동,4193,1351,1789,1053,649,1064,353,702,725,...,2000,95,1300,36,0,0,7100,20000,8950,0
19,방화3동,3808,665,1823,1320,335,951,382,330,872,...,2000,95,1300,36,0,0,7100,20000,8950,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 52 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   행정동                20 non-null     object
 1   1인가구               20 non-null     int64
 2   전체20~34            20 non-null     int64
 3   전체35~65            20 non-null     int64
 4   전체65세이상            20 non-null     int64
 5   남성20~34            20 non-null     int64
 6   남성35~65            20 non-null     int64
 7   남성65세이상            20 non-null     int64
 8   여성20~34            20 non-null     int64
 9   여성35~65            20 non-null     int64
 10  여성65이상             20 non-null     int64
 11  체육시설               20 non-null     int64
 12  도서관                20 non-null     int64
 13  문화시설               20 non-null     int64
 14  공원                 20 non-null     int64
 15  장애인복지시설            20 non-null     int64
 16  어르신돌봄시설            20 non-null     int64
 17  경로당                20 non-null     int64
 18  사회복지시설             20 non-null     int64
 19  전통시장               20 non-null     int64
 20  백화점                20 non-null     int64
 21  대형마트&슈퍼마켓          20 non-null     int64
 22  편의점                20 non-null     int64
 23  세탁소                20 non-null     int64
 24  식당                 20 non-null     int64
 25  카페                 20 non-null     int64
 26  헬스클럽               20 non-null     int64
 27  영화관                20 non-null     int64
 28  구청,동주민센터,보건소       20 non-null     int64
 29  공영주차장              20 non-null     int64
 30  버스정류장              20 non-null     int64
 31  공공자전거 대여소          20 non-null     int64
 32  파출소                20 non-null     int64
 33  여성안심택배함            20 non-null     int64
 34  심리상담센터             20 non-null     int64
 35  병원                 20 non-null     int64
 36  CCTV               20 non-null     int64
 37  개등록수               20 non-null     int64
 38  고양이등록수             20 non-null     int64
 39  동물병원               20 non-null     int64
 40  원룸(보증금)            20 non-null     int64
 41  원룸(월세)             20 non-null     int64
 42  투룸.쓰리룸(보증금)        20 non-null     int64
 43  투룸.쓰리룸(월세)         20 non-null     int64
 44  오피스텔/도시형생활주택(보증금)  20 non-null     int64
 45  오피스텔/도시형생활주택(월세)   20 non-null     int64
 46  아파트(보증금)           20 non-null     int64
 47  아파트(월세)            20 non-null     int64
 48  원룸(전세)             20 non-null     int64
 49  투룸.쓰리룸(전세)         20 non-null     int64
 50  오피스텔/도시형생활주택(전세)   20 non-null     int64
 51  아파트(전세)            20 non-null     int64
dtypes: int64(51), object(1)
memory usage: 8.2+ KB

## 1. minmax sacler

In [5]:
# minmax scaling : 최소값 0, 최대값 1로 정규화
# 비교적 직관적이지만 이상치에 영향을 많이 받음

In [6]:
from sklearn.preprocessing import MinMaxScaler

# Normalization 최소값 0 / 최대값 1
scaler = MinMaxScaler()

# 행정동 컬럼 제외
minmax_trans = pd.DataFrame(scaler.fit_transform(df.iloc[:,1:]))
minmax_trans

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,0.096632,0.158533,0.048809,0.010073,0.171304,0.041103,0.000000,0.151826,0.058824,0.026891,...,0.60,0.533333,0.80,0.648148,0.714800,1.000000,0.679012,1.000000,0.884013,0.982316
1,0.436997,0.457036,0.286092,0.121992,0.473913,0.276795,0.117840,0.448174,0.298174,0.134454,...,0.20,0.762963,0.40,1.000000,0.786088,0.713043,0.728395,0.713240,0.840125,0.721078
2,0.001021,0.059880,0.000000,0.000000,0.083043,0.000000,0.008183,0.047717,0.000000,0.007563,...,0.20,0.762963,0.40,1.000000,0.786088,0.713043,0.728395,0.713240,0.840125,0.721078
3,0.361574,0.049850,0.428991,1.000000,0.078261,0.379292,1.000000,0.034932,0.493577,1.000000,...,0.20,0.762963,0.40,1.000000,0.786088,0.713043,0.728395,0.713240,0.840125,0.721078
4,0.915618,0.613623,1.000000,0.539452,0.850435,1.000000,0.518822,0.489269,1.000000,0.555462,...,1.00,0.355556,1.00,0.444444,0.774766,0.782609,0.777778,0.672474,0.598746,0.711424
5,0.020529,0.028593,0.074684,0.071069,0.063913,0.087409,0.109656,0.010046,0.058147,0.062185,...,1.00,0.355556,1.00,0.444444,0.774766,0.782609,0.777778,0.672474,0.598746,0.711424
6,0.015425,0.042814,0.029991,0.077784,0.048696,0.052549,0.093290,0.039726,0.000676,0.080672,...,1.00,0.355556,1.00,0.444444,0.774766,0.782609,0.777778,0.672474,0.598746,0.711424
7,0.094023,0.046108,0.191120,0.146614,0.070870,0.182102,0.160393,0.033105,0.202840,0.149580,...,1.00,0.355556,1.00,0.444444,0.774766,0.782609,0.777778,0.672474,0.598746,0.711424
8,0.395599,0.289671,0.460747,0.210968,0.409130,0.464100,0.204583,0.226941,0.456389,0.223529,...,1.00,0.355556,1.00,0.444444,0.774766,0.782609,0.777778,0.672474,0.598746,0.711424
9,0.229557,0.210479,0.232285,0.122552,0.244783,0.262747,0.150573,0.192466,0.192698,0.118487,...,1.00,0.355556,1.00,0.444444,0.774766,0.782609,0.777778,0.672474,0.598746,0.711424
10,0.136554,0.102395,0.188768,0.150532,0.156522,0.193028,0.140753,0.073973,0.183232,0.165546,...,1.00,0.355556,1.00,0.444444,0.774766,0.782609,0.777778,0.672474,0.598746,0.711424
11,1.000000,1.000000,0.741253,0.003917,1.000000,0.767950,0.034370,1.000000,0.706558,0.000000,...,1.00,1.000000,0.40,0.638889,1.000000,0.939130,1.000000,0.655052,0.633229,1.000000
12,0.168198,0.045509,0.174949,0.545607,0.028261,0.166493,0.625205,0.054566,0.185936,0.510084,...,1.00,1.000000,0.40,0.638889,1.000000,0.939130,1.000000,0.655052,0.633229,1.000000
13,0.088919,0.011078,0.108792,0.409065,0.004348,0.095734,0.338789,0.014612,0.125761,0.452101,...,1.00,1.000000,0.40,0.638889,1.000000,0.939130,1.000000,0.655052,0.633229,1.000000
14,0.000000,0.000000,0.038812,0.144936,0.000000,0.003642,0.080196,0.000000,0.084517,0.188235,...,0.00,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.075536,0.075599,0.096442,0.125350,0.113913,0.075963,0.103110,0.055479,0.123056,0.147059,...,0.60,0.518519,0.00,0.000000,0.856320,0.913043,0.771605,0.665505,1.000000,0.742320
16,0.246569,0.177246,0.313143,0.176833,0.319565,0.423517,0.281506,0.102511,0.169709,0.132773,...,0.04,0.540741,0.20,0.518519,0.083953,0.782609,0.592593,0.686411,0.304075,0.878320
17,0.186458,0.110030,0.231403,0.287073,0.138261,0.298647,0.284779,0.095205,0.144016,0.296639,...,0.40,0.703704,0.26,0.333333,0.000000,0.000000,0.438272,0.696864,0.280564,0.000000
18,0.233413,0.135629,0.250515,0.386682,0.189130,0.311655,0.441899,0.107534,0.171062,0.365546,...,0.40,0.703704,0.26,0.333333,0.000000,0.000000,0.438272,0.696864,0.280564,0.000000
19,0.189747,0.032934,0.260512,0.536094,0.052609,0.252862,0.489362,0.022603,0.270453,0.565546,...,0.40,0.703704,0.26,0.333333,0.000000,0.000000,0.438272,0.696864,0.280564,0.000000

## 2. robust scaler

In [5]:
# Robust scaling :  중앙값 0, IQR 1이 되도록 스케일링하는 방법
# 최대, 최소값이 아닌 사분위수를 이용하기 때문에 이상치의 영향을 최소화 할 수 있다.

In [6]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

# 행정동 컬럼 제외
robust_trans = pd.DataFrame(scaler.fit_transform(df.iloc[:,1:]))
robust_trans

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,-0.425284,0.494149,-0.804807,-0.492292,0.223416,-0.745203,-0.589147,0.683080,-0.721649,-0.469789,...,-0.307692,-0.009091,0.540541,0.916667,-0.261862,2.127660,-0.794872,12.533333,1.784314,4.174239
1,1.368500,2.615426,0.370721,-0.094480,1.718582,0.220682,-0.142636,3.007162,0.738144,-0.083082,...,-0.923077,0.554545,0.000000,2.500000,0.049440,-0.680851,-0.384615,1.560000,1.509804,0.148763
2,-0.929169,-0.206915,-1.046613,-0.528095,-0.212675,-0.913646,-0.558140,-0.133393,-1.080412,-0.539275,...,-0.923077,0.554545,0.000000,2.500000,0.049440,-0.680851,-0.384615,1.560000,1.509804,0.148763
3,0.971010,-0.278191,1.078660,3.026355,-0.236305,0.640725,3.200000,-0.233662,1.929897,3.028701,...,-0.923077,0.554545,0.000000,2.500000,0.049440,-0.680851,-0.384615,1.560000,1.509804,0.148763
4,3.890915,3.728191,3.907502,1.389359,3.578947,3.184435,1.376744,3.329454,5.018557,1.430514,...,0.307692,-0.445455,0.810811,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000
5,-0.826360,-0.429255,-0.676621,-0.275485,-0.307197,-0.555437,-0.173643,-0.428827,-0.725773,-0.342900,...,0.307692,-0.445455,0.810811,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000
6,-0.853258,-0.328191,-0.898034,-0.251616,-0.382385,-0.698294,-0.235659,-0.196061,-1.076289,-0.276435,...,0.307692,-0.445455,0.810811,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000
7,-0.439032,-0.304787,-0.099782,-0.006962,-0.272825,-0.167377,0.018605,-0.247986,0.156701,-0.028701,...,0.307692,-0.445455,0.810811,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000
8,1.150329,1.426064,1.235980,0.221780,1.398496,0.988273,0.186047,1.272158,1.703093,0.237160,...,0.307692,-0.445455,0.810811,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000
9,0.275254,0.863298,0.104151,-0.092491,0.586466,0.163113,-0.018605,1.001791,0.094845,-0.140483,...,0.307692,-0.445455,0.810811,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000
10,-0.214883,0.095213,-0.111435,0.006962,0.150376,-0.122601,-0.055814,0.072516,0.037113,0.028701,...,0.307692,-0.445455,0.810811,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000
11,4.335625,6.473936,2.625637,-0.514172,4.317938,2.233475,-0.458915,7.334825,3.228866,-0.566465,...,0.307692,1.136364,0.000000,0.875000,0.983555,1.531915,1.871795,-0.666667,0.215686,4.446744
12,-0.048117,-0.309043,-0.179898,1.411238,-0.483351,-0.231343,1.779845,-0.079678,0.053608,1.267372,...,0.307692,1.136364,0.000000,0.875000,0.983555,1.531915,1.871795,-0.666667,0.215686,4.446744
13,-0.465929,-0.553723,-0.507647,0.925908,-0.601504,-0.521322,0.694574,-0.393017,-0.313402,1.058912,...,0.307692,1.136364,0.000000,0.875000,0.983555,1.531915,1.871795,-0.666667,0.215686,4.446744
14,-0.934549,-0.632447,-0.854334,-0.012929,-0.622986,-0.898721,-0.285271,-0.507610,-0.564948,0.110272,...,-1.230769,-1.318182,-0.540541,-2.000000,-3.383262,-7.659574,-6.435897,-25.733333,-3.745098,-10.962525
15,-0.536461,-0.095213,-0.568827,-0.082546,-0.060150,-0.602345,-0.198450,-0.072516,-0.329897,-0.037764,...,-0.307692,-0.045455,-0.540541,-2.000000,0.356133,1.276596,-0.025641,-0.266667,2.509804,0.476088
16,0.364913,0.627128,0.504734,0.100448,0.955961,0.821962,0.477519,0.296329,-0.045361,-0.089124,...,-1.169231,0.009091,-0.270270,0.333333,-3.016654,0.000000,-1.512821,0.533333,-1.843137,2.571737
17,0.048117,0.149468,0.099782,0.492292,0.060150,0.310235,0.489922,0.239033,-0.202062,0.500000,...,-0.615385,0.409091,-0.189189,-0.500000,-3.383262,-7.659574,-2.794872,0.933333,-1.990196,-10.962525
18,0.295577,0.331383,0.194465,0.846345,0.311493,0.363539,1.085271,0.335721,-0.037113,0.747734,...,-0.615385,0.409091,-0.189189,-0.500000,-3.383262,-7.659574,-2.794872,0.933333,-1.990196,-10.962525
19,0.065451,-0.398404,0.243991,1.377424,-0.363050,0.122601,1.265116,-0.330349,0.569072,1.466767,...,-0.615385,0.409091,-0.189189,-0.500000,-3.383262,-7.659574,-2.794872,0.933333,-1.990196,-10.962525

## 3. 데이터프레임 재구성 (robust 스케일링 결과로 진행)

In [7]:
# 컬럼명 다시 붙이기
a = df.columns
robust_trans.columns = a[1:]

# 행정동 인덱스로 넣기
robust_trans.index = df['행정동']

robust_trans

,1인가구,전체20~34,전체35~65,전체65세이상,남성20~34,남성35~65,남성65세이상,여성20~34,여성35~65,여성65이상,...,투룸.쓰리룸(보증금),투룸.쓰리룸(월세),오피스텔/도시형생활주택(보증금),오피스텔/도시형생활주택(월세),아파트(보증금),아파트(월세),원룸(전세),투룸.쓰리룸(전세),오피스텔/도시형생활주택(전세),아파트(전세)
행정동,,,,,,,,,,,,,,,,,,,,,
염창동,-0.425284,0.494149,-0.804807,-0.492292,0.223416,-0.745203,-0.589147,0.683080,-0.721649,-0.469789,...,-0.307692,-0.009091,0.540541,0.916667,-0.261862,2.127660,-0.794872,12.533333,1.784314,4.174239
등촌1동,1.368500,2.615426,0.370721,-0.094480,1.718582,0.220682,-0.142636,3.007162,0.738144,-0.083082,...,-0.923077,0.554545,0.000000,2.500000,0.049440,-0.680851,-0.384615,1.560000,1.509804,0.148763
등촌2동,-0.929169,-0.206915,-1.046613,-0.528095,-0.212675,-0.913646,-0.558140,-0.133393,-1.080412,-0.539275,...,-0.923077,0.554545,0.000000,2.500000,0.049440,-0.680851,-0.384615,1.560000,1.509804,0.148763
등촌3동,0.971010,-0.278191,1.078660,3.026355,-0.236305,0.640725,3.200000,-0.233662,1.929897,3.028701,...,-0.923077,0.554545,0.000000,2.500000,0.049440,-0.680851,-0.384615,1.560000,1.509804,0.148763
화곡1동,3.890915,3.728191,3.907502,1.389359,3.578947,3.184435,1.376744,3.329454,5.018557,1.430514,...,0.307692,-0.445455,0.810811,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000
화곡2동,-0.826360,-0.429255,-0.676621,-0.275485,-0.307197,-0.555437,-0.173643,-0.428827,-0.725773,-0.342900,...,0.307692,-0.445455,0.810811,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000
화곡3동,-0.853258,-0.328191,-0.898034,-0.251616,-0.382385,-0.698294,-0.235659,-0.196061,-1.076289,-0.276435,...,0.307692,-0.445455,0.810811,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000
화곡4동,-0.439032,-0.304787,-0.099782,-0.006962,-0.272825,-0.167377,0.018605,-0.247986,0.156701,-0.028701,...,0.307692,-0.445455,0.810811,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000
화곡본동,1.150329,1.426064,1.235980,0.221780,1.398496,0.988273,0.186047,1.272158,1.703093,0.237160,...,0.307692,-0.445455,0.810811,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000
화곡6동,0.275254,0.863298,0.104151,-0.092491,0.586466,0.163113,-0.018605,1.001791,0.094845,-0.140483,...,0.307692,-0.445455,0.810811,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000
화곡8동,-0.214883,0.095213,-0.111435,0.006962,0.150376,-0.122601,-0.055814,0.072516,0.037113,0.028701,...,0.307692,-0.445455,0.810811,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000
가양1동,4.335625,6.473936,2.625637,-0.514172,4.317938,2.233475,-0.458915,7.334825,3.228866,-0.566465,...,0.307692,1.136364,0.000000,0.875000,0.983555,1.531915,1.871795,-0.666667,0.215686,4.446744
가양2동,-0.048117,-0.309043,-0.179898,1.411238,-0.483351,-0.231343,1.779845,-0.079678,0.053608,1.267372,...,0.307692,1.136364,0.000000,0.875000,0.983555,1.531915,1.871795,-0.666667,0.215686,4.446744
가양3동,-0.465929,-0.553723,-0.507647,0.925908,-0.601504,-0.521322,0.694574,-0.393017,-0.313402,1.058912,...,0.307692,1.136364,0.000000,0.875000,0.983555,1.531915,1.871795,-0.666667,0.215686,4.446744
발산1동,-0.934549,-0.632447,-0.854334,-0.012929,-0.622986,-0.898721,-0.285271,-0.507610,-0.564948,0.110272,...,-1.230769,-1.318182,-0.540541,-2.000000,-3.383262,-7.659574,-6.435897,-25.733333,-3.745098,-10.962525
우장산동,-0.536461,-0.095213,-0.568827,-0.082546,-0.060150,-0.602345,-0.198450,-0.072516,-0.329897,-0.037764,...,-0.307692,-0.045455,-0.540541,-2.000000,0.356133,1.276596,-0.025641,-0.266667,2.509804,0.476088
공항동,0.364913,0.627128,0.504734,0.100448,0.955961,0.821962,0.477519,0.296329,-0.045361,-0.089124,...,-1.169231,0.009091,-0.270270,0.333333,-3.016654,0.000000,-1.512821,0.533333,-1.843137,2.571737
방화1동,0.048117,0.149468,0.099782,0.492292,0.060150,0.310235,0.489922,0.239033,-0.202062,0.500000,...,-0.615385,0.409091,-0.189189,-0.500000,-3.383262,-7.659574,-2.794872,0.933333,-1.990196,-10.962525
방화2동,0.295577,0.331383,0.194465,0.846345,0.311493,0.363539,1.085271,0.335721,-0.037113,0.747734,...,-0.615385,0.409091,-0.189189,-0.500000,-3.383262,-7.659574,-2.794872,0.933333,-1.990196,-10.962525
방화3동,0.065451,-0.398404,0.243991,1.377424,-0.363050,0.122601,1.265116,-0.330349,0.569072,1.466767,...,-0.615385,0.409091,-0.189189,-0.500000,-3.383262,-7.659574,-2.794872,0.933333,-1.990196,-10.962525

# 2. numpy를 이용한 매트릭스 계산

In [8]:
robust_trans.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 염창동 to 방화3동
Data columns (total 51 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   1인가구               20 non-null     float64
 1   전체20~34            20 non-null     float64
 2   전체35~65            20 non-null     float64
 3   전체65세이상            20 non-null     float64
 4   남성20~34            20 non-null     float64
 5   남성35~65            20 non-null     float64
 6   남성65세이상            20 non-null     float64
 7   여성20~34            20 non-null     float64
 8   여성35~65            20 non-null     float64
 9   여성65이상             20 non-null     float64
 10  체육시설               20 non-null     float64
 11  도서관                20 non-null     float64
 12  문화시설               20 non-null     float64
 13  공원                 20 non-null     float64
 14  장애인복지시설            20 non-null     float64
 15  어르신돌봄시설            20 non-null     float64
 16  경로당                20 non-null     float64
 17  사회복지시설             20 non-null     float64
 18  전통시장               20 non-null     float64
 19  백화점                20 non-null     float64
 20  대형마트&슈퍼마켓          20 non-null     float64
 21  편의점                20 non-null     float64
 22  세탁소                20 non-null     float64
 23  식당                 20 non-null     float64
 24  카페                 20 non-null     float64
 25  헬스클럽               20 non-null     float64
 26  영화관                20 non-null     float64
 27  구청,동주민센터,보건소       20 non-null     float64
 28  공영주차장              20 non-null     float64
 29  버스정류장              20 non-null     float64
 30  공공자전거 대여소          20 non-null     float64
 31  파출소                20 non-null     float64
 32  여성안심택배함            20 non-null     float64
 33  심리상담센터             20 non-null     float64
 34  병원                 20 non-null     float64
 35  CCTV               20 non-null     float64
 36  개등록수               20 non-null     float64
 37  고양이등록수             20 non-null     float64
 38  동물병원               20 non-null     float64
 39  원룸(보증금)            20 non-null     float64
 40  원룸(월세)             20 non-null     float64
 41  투룸.쓰리룸(보증금)        20 non-null     float64
 42  투룸.쓰리룸(월세)         20 non-null     float64
 43  오피스텔/도시형생활주택(보증금)  20 non-null     float64
 44  오피스텔/도시형생활주택(월세)   20 non-null     float64
 45  아파트(보증금)           20 non-null     float64
 46  아파트(월세)            20 non-null     float64
 47  원룸(전세)             20 non-null     float64
 48  투룸.쓰리룸(전세)         20 non-null     float64
 49  오피스텔/도시형생활주택(전세)   20 non-null     float64
 50  아파트(전세)            20 non-null     float64
dtypes: float64(51)
memory usage: 8.1+ KB

In [9]:
matrix_df = robust_trans.to_numpy() # dataframe을 numpy array로 변환 (타겟 행렬 구성)
matrix_df

array([[ -0.42528392,   0.49414894,  -0.80480699, ...,  12.53333333,
          1.78431373,   4.17423941],
       [  1.3684997 ,   2.61542553,   0.37072105, ...,   1.56      ,
          1.50980392,   0.14876315],
       [ -0.92916916,  -0.20691489,  -1.04661326, ...,   1.56      ,
          1.50980392,   0.14876315],
       ...,
       [  0.04811715,   0.14946809,   0.0997815 , ...,   0.93333333,
         -1.99019608, -10.96252488],
       [  0.29557681,   0.33138298,   0.19446468, ...,   0.93333333,
         -1.99019608, -10.96252488],
       [  0.06545129,  -0.39840426,   0.24399126, ...,   0.93333333,
         -1.99019608, -10.96252488]])

In [12]:
weight = np.random.random((51, 1)) # 가중치 행렬 구성 (난수발생)
weight

array([[0.46068054],
       [0.01736339],
       [0.59565235],
       [0.43328318],
       [0.44632775],
       [0.48288049],
       [0.12893874],
       [0.83511262],
       [0.5531173 ],
       [0.27219337],
       [0.76188582],
       [0.88413069],
       [0.28417344],
       [0.86678553],
       [0.266405  ],
       [0.6966952 ],
       [0.1823582 ],
       [0.01084257],
       [0.18446662],
       [0.60006746],
       [0.56449407],
       [0.30412188],
       [0.10395931],
       [0.9728704 ],
       [0.76778742],
       [0.3086381 ],
       [0.86177042],
       [0.7480388 ],
       [0.68335639],
       [0.82650176],
       [0.42169172],
       [0.62095111],
       [0.54496062],
       [0.5174282 ],
       [0.37372638],
       [0.48657378],
       [0.27766552],
       [0.58708315],
       [0.59624434],
       [0.94997171],
       [0.26677166],
       [0.86811953],
       [0.83342842],
       [0.87703739],
       [0.09976315],
       [0.51590606],
       [0.75028221],
       [0.73452461],
       [0.60450385],
       [0.74213649],
       [0.07700311]])

In [13]:
output = np.dot(matrix_df,weight) # 타겟 행렬과 가중치 행렬의 dot product
output

array([[ 12.01834821],
       [  7.61590377],
       [ -4.69007297],
       [ 16.95234662],
       [ 28.92807685],
       [ -6.45381414],
       [  3.0122342 ],
       [  0.14357032],
       [ 10.48638837],
       [  9.19011188],
       [  1.99256718],
       [ 38.19899233],
       [ -0.97217817],
       [ -3.86957731],
       [-33.81725313],
       [  4.61844378],
       [  0.84148492],
       [ -7.65896339],
       [ -9.18160011],
       [-14.184244  ]])

In [14]:
pd.DataFrame(output).sort_values(by=0, ascending=False) # out 데이터프레임 변환 후 정렬

            0
11  38.198992
4   28.928077
3   16.952347
0   12.018348
8   10.486388
9    9.190112
1    7.615904
15   4.618444
6    3.012234
10   1.992567
16   0.841485
7    0.143570
12  -0.972178
13  -3.869577
2   -4.690073
5   -6.453814
17  -7.658963
18  -9.181600
19 -14.184244
14 -33.817253

In [15]:
df.iloc[11,0] ## 가중 높은 점수에 해당하는 동네는 ?

'가양1동'

In [27]:
weight = pd.read_excel("weight.xlsx").iloc[:,[6,]]
weight

    개인화1
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     1
11     1
12     1
13     1
14     0
15     0
16     0
17     0
18     1
19     3
20     1
21     1
22     3
23     1
24     1
25     3
26     1
27     0
28     3
29     0
30     0
31     0
32     0
33     0
34     3
35     3
36     3
37     3
38     3
39     0
40     0
41     0
42     0
43     0
44     0
45     0
46     0
47     0
48     0
49     0
50     3

In [28]:
output = np.dot(matrix_df,weight) # 타겟 행렬과 가중치 행렬의 dot product
output

array([[ 25.69715719],
       [  2.96750971],
       [-14.14661838],
       [ 14.85265188],
       [ 60.76497604],
       [ -9.77069498],
       [  4.5156894 ],
       [  2.39532695],
       [ 23.73788456],
       [ 12.83640103],
       [  6.49363707],
       [ 52.06832667],
       [ -2.42153327],
       [ -6.97368778],
       [-24.26565627],
       [ 15.48803029],
       [  9.62381402],
       [-21.44478669],
       [-33.62058627],
       [-47.38560341]])

In [29]:
pd.DataFrame(output).sort_values(by=0, ascending=False) # out 데이터프레임 변환 후 정렬

            0
4   60.764976
11  52.068327
0   25.697157
8   23.737885
15  15.488030
3   14.852652
9   12.836401
16   9.623814
10   6.493637
6    4.515689
1    2.967510
7    2.395327
12  -2.421533
13  -6.973688
5   -9.770695
2  -14.146618
17 -21.444787
14 -24.265656
18 -33.620586
19 -47.385603

In [31]:
print(df.iloc[4,0]) ## 가중 높은 점수에 해당하는 동네는 ? 
print(df.iloc[11,0])
print(df.iloc[0,0])

화곡1동
가양1동
염창동

여성20~34 - 가양1동, 발산1동, 화곡1동
남성20~34 - 발산1동, 방화1동, 방화2동
부내1인 - 화곡1동, 가양1동, 염창동